.DraftPressFields-get_draggable {
	display: table;
	table-layout: fixed;
}

.DraftPressFields-get_draggable-item {
	display: table-row;
	cursor: move;
}

.DraftPressFields-get_draggable-item > * {
	display: table-cell;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
}

.DraftPressPostMetaBox-get_field-checkbox-wrapper > * {
	display: inline-block;
	vertical-align: middle;
}

.DraftPressFields-get_array_as_radios-item,
.DraftPressPostMetaBox-get_field-checkbox {
	margin-bottom: .5em;
}

.DraftPressFields-get_array_as_radios-item:last-child,
.DraftPressPostMetaBox-get_field-checkbox:last-child {
	margin-bottom: 0;
}

.toplevel_page_DraftPress_subsite .wrap form {
	margin-bottom: 40px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
}

.DraftPressSubsiteControlPanel-get_page-import_forms form:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
