.DraftPressPostMetaBox-get_field {
	margin: 0 0 2em 0;
}

.DraftPressPostMetaBox-get_field:last-child {
	margin-bottom: 0;
}

.DraftPressFields-get_draggable {
	width: 100%;
}

.DraftPressFields-get_draggable-item {
	cursor: move;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
	min-height: 2em;
}

.DraftPressFields-get_draggable-item > * {
	display: inline-block;	
	vertical-align: middle;
}

.DraftPressFields-get_draggable-item .DraftPressLogo-get {
	width: 30px;
	height: auto;
}

.DraftPressPostMetaBox-get_field-checkbox-wrapper > * {
	display: inline-block;
	vertical-align: middle;
}

.DraftPressFields-get_array_as_radios-item,
.DraftPressPostMetaBox-get_field-checkbox {
	margin-bottom: .5em;
}

.DraftPressFields-get_array_as_radios-item:last-child,
.DraftPressPostMetaBox-get_field-checkbox:last-child {
	margin-bottom: 0;
}

.toplevel_page_DraftPress_subsite .wrap form {
	margin-bottom: 40px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
}

.DraftPressSubsiteControlPanel-get_page-import_forms form:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

/**
 * A landing spot for draggable items.
 */
.ui-state-highlight {
	height: 1.75em;
	line-height: 1.75em;
}

.DraftPress-toggle_handle {
	cursor: pointer;
	vertical-align: middle;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
}

.DraftPress-toggle_handle > * {
	display: inline-block;
	padding: 0 .25em 0 0;
	vertical-align: middle;
}

.DraftPress-toggle_handle .dashicons {
	font-size: 2em;
	line-height: 0;
	height: auto;
	width: auto;
}